[Back to Main Menu](https://github.com/sherman6/tutorials/blob/master/README.md#menu)  

<a class="anchor" id="topmenu"></a>

### Python Tutorial 3 Supplement - Functions examples



_Sherman6,  2020 April_

Here are a few examples of customized functions, illustrating the concepts discussed in [Tutorial 3](https://github.com/sherman6/tutorials/blob/master/README.md#menu). 

___

# 1.

A function to get us probability based upon a logit, which is the log of the odds, (p / (1-p)).

In [1]:
import numpy as np

In [2]:
def get_probability_from_logit(x):
    return np.exp(x) / (1 + np.exp(x))

Testing this:

In [3]:
x = 4.281924467

In [4]:
get_probability_from_logit(x)

0.9863722339124936

___

# 2.


A function to put words together in natural language:

Let's start simple, and build our way up to something more complex.

In [5]:
xlist = ["Sally","Truman","Jim","Peggy"] #example list

Our first try is a simple way, `.join()`, which is good for strings, but does not mimick natural language for lists.  It would sounds strange for a person to list names either of the following ways.

In [6]:
" & ".join(xlist)+"."

'Sally & Truman & Jim & Peggy.'

In [7]:
", ".join(xlist)+"."

'Sally, Truman, Jim, Peggy.'

Our next method is a bit more complex, however, it is also not quite right. It does not succeed in mimicking natural language, because it adds an 'and' after every single name, even the last one.

In [8]:
def concatenate_names_simple(list_of_names):
    """This function joins names from a list together very crudely, forming a string."""
    output = ""
    for i in list_of_names:
        output = i + " "+"&"+" " +output
    return output

In [9]:
concatenate_names_simple(xlist)

'Peggy & Jim & Truman & Sally & '

The following method joins words together in the way that sounds like an English-speaking person is actually saying it.  It there are more than two names, it separates each name by commas, and adds an 'and' prior to the final name in the list. This language is very natural. 

Furthermore...    
- if only 1 name in the list, it just says 1 name. 
- if two names, it separates them by 'and', without a comma (is more natural this way).

In [10]:
def concatenate_names_naturally(list_of_names):
    
    """This function joins names from a list together in a natural language string."""
    
    listlength = len(list_of_names)
  
    if listlength ==0:
        output = "This list contains no names."

    elif listlength ==1:
        output = "This list contains 1 name: "+list_of_names[0]+"."

    elif listlength ==2: 
        output = "This list contains "+list_of_names[0]+" & "+list_of_names[1]+"."
        
    elif listlength > 2:
        output = "This list contains "
        names_except_last = list_of_names[0:-1]
        output = output + ", ".join(names_except_last)
        final_name = ", & "+ list_of_names[-1]+"."
        output = output + final_name
            
    return output

Testing this, it works:

In [11]:
xlist = [] #example list

In [12]:
concatenate_names_naturally(xlist)

'This list contains no names.'

In [13]:
xlist = ["Sally"] #example list

In [14]:
concatenate_names_naturally(xlist)

'This list contains 1 name: Sally.'

In [15]:
xlist = ["Sally", "Stephanie"] #example list

In [16]:
concatenate_names_naturally(xlist)

'This list contains Sally & Stephanie.'

In [17]:
xlist = ["Sally","Truman","Jim","Peggy"] #example list

In [18]:
concatenate_names_naturally(xlist)

'This list contains Sally, Truman, Jim, & Peggy.'

In [19]:
xlist = ["Sally","Truman","Jim","Peggy", "Max", "Stephanie"] #example list

In [20]:
concatenate_names_naturally(xlist)

'This list contains Sally, Truman, Jim, Peggy, Max, & Stephanie.'

___

# 3.


A function to extract named entities from text.

This extracts a list of unique people, named in a passage of text, using the NLTK package.  

Notice, this creates 2 global variables that exist after the function is finished running. 

I set a baseline sentence as a default 'text', in case you don't have text to work with, yet.

In [21]:
import nltk as nltk

In [22]:
def get_named_people(text="Simon and Nick are going to The Winchester Pub."):
    """Extract named entities which are people, using NLTK. Creates global variables."""
    
    #specify which variables are to be created globally (vs locally):
    global entities_w_labels_unique
    global named_people
    
    print("Warning: Creates global variables, 'entities_w_labels_unique', 'named_people'; Rewrites if already exist.")
    
    entities = []
    labels = []

    for sentence in nltk.sent_tokenize(text):
        for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sentence)), binary = False):
            if hasattr(chunk, 'label'):
                entities.append(' '.join(c[0] for c in chunk)) #Add space as between multi-token entities
                labels.append(chunk.label()) 

    entities_w_labels = list(zip(entities, labels)) #match entities with their type label
    entities_w_labels_unique = list(set(zip(entities, labels))) #keep only unique (non-duplicate) entities

    named_people=[] 
    for i in range(len(entities_w_labels_unique)):
              if entities_w_labels_unique[i][1] in ['PERSON']:
                named_people.append(entities_w_labels_unique[i][0]) #Give only entities which are persons

    return named_people

Testing this:

In [23]:
get_named_people() #analyzes baseline text

Warning: Creates global variables, 'entities_w_labels_unique', 'named_people'; Rewrites if already exist.

['Simon', 'Nick']

In [24]:
entities_w_labels_unique

[('Simon', 'PERSON'), ('Nick', 'PERSON'), ('Winchester Pub', 'ORGANIZATION')]

Testing this more:

In [25]:
text = "Yesterday Jim and Beth went to the store, but Microsoft's employment laws didn't apply in California.  \
Then, Xavier had an idea. Beth was right, Jim was from Texas."

In [26]:
get_named_people(text)

Warning: Creates global variables, 'entities_w_labels_unique', 'named_people'; Rewrites if already exist.

['Jim', 'Xavier', 'Microsoft', 'Beth']

In [27]:
entities_w_labels_unique

[('Jim', 'PERSON'),
 ('Xavier', 'PERSON'),
 ('Texas', 'GPE'),
 ('Microsoft', 'PERSON'),
 ('California', 'GPE'),
 ('Beth', 'PERSON')]

In [28]:
named_people

['Jim', 'Xavier', 'Microsoft', 'Beth']

Putting it altogether:

In [29]:
get_named_people(text)

Warning: Creates global variables, 'entities_w_labels_unique', 'named_people'; Rewrites if already exist.

['Jim', 'Xavier', 'Microsoft', 'Beth']

In [30]:
concatenate_names_naturally(named_people)

'This list contains Jim, Xavier, Microsoft, & Beth.'

Or, you could combine functions 2 and 3:

In [31]:
concatenate_names_naturally(get_named_people(text))

Warning: Creates global variables, 'entities_w_labels_unique', 'named_people'; Rewrites if already exist.

'This list contains Jim, Xavier, Microsoft, & Beth.'

___ 

[Back to Top Menu](#topmenu)

__Machine Information:__  _This workbook was run on_...

In [32]:
#Python Version:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

In [33]:
#Timestamp:
import datetime
datetime.datetime.now().strftime("%a, %d %B %Y %H:%M:%S")

'Sun, 05 April 2020 11:01:51'

## The End.

[Back to Top Menu](#topmenu)


_Sherman6,  2020 April_